
{% extends 'accounts/base.html' %}

{% block navbar %}


{% load static %}

<section class="header-main border-bottom">
	<div class="container">
<div class="row align-items-center">
	<div class="col-lg-2 col-md-3 col-6">
		<a href="./" class="brand-wrap">
			<img class="logo" src="{% static './images/logoo.png' %}">
		</a> <!-- brand-wrap.// -->
	</div>
	 <!-- col.// -->
</div> <!-- row.// -->
	</div> <!-- container.// -->
</section> <!-- header-main .// -->






{% endblock %}

{% block content %}

<section class="section-conten padding-y" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->
	<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
      <div class="card-body">
      <h4 class="card-title mb-4">Forgot Password</h4>
      <form method="POST" action="{% url 'forgotpassword' %}">{% csrf_token %}
          <div class="form-group">
			 <input type="email" class="form-control" name="email" id="email" required placeholder="Email Address" >
          </div> <!-- form-group// -->
          
     

          
          
          <div class="form-group">
              <button type="submit"  class="btn btn-block" style="background-color:#fb641b;color:white"> Login  </button>
          </div> <!-- form-group// -->    
      </form>
      {% for message in messages %}

      <p style="color: red;">{{message}}</p>

 {% endfor %}
      
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     <p class="text-center mt-4">Got Password? <a style="color: #fb641b;" href="{% url 'login' %}">Sign In</a></p>
     <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->




</section>

{% endblock %}
<!-- ========================= SECTION CONTENT END// ========================= -->

{% block footer %}


{% endblock %}
