{% extends 'accounts/base.html' %}
{% load static %}

{% block dropdown %}
<div class="dropdown-menu">

</div>
{% endblock %}



{% block content %}
<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
<div class="card">
	<div class="row no-gutters">
		<aside class="col-md-6">



			<div class="show" href="{{products.image1.url}}">
				<img src="{{products.image1.url}}" id="show-img" style="margin: 10px; border: solid 1px;">
			  </div>
		
		 
			  <div  class="small-img" >
			  
				<div class="small-container">
				 <div id="small-img-roll">
				   <img src="{{products.image1.url}}" class="show-small-img" alt="">
				   <img src="{{products.image2.url}}" class="show-small-img" alt="">
				   <img src="{{products.image3.url}}" class="show-small-img" alt="">
				   <img src="{{products.image4.url}}" class="show-small-img" alt="">
				 </div>
				</div>
			   
			  </div>
			  <link rel="stylesheet" href="{% static '/css/style.css' %}">
			  <script src="{% static '/js/zoom-image.js'%}"></script>
			  <script src="{% static '/js/main.js' %}"></script>	
	
		

		</aside>
		
<article class="content-body">

<h2 class="title">{{products.product_name}}</h2>

<div class="mb-3"> 
	{% if products.offer_price %}
	<var class="price h4">${{products.offer_price}}  </var> <s style="color:red">${{products.price}}</s> <b>{{products.offer_percentage}} %offf</b>
	{% else %}
	<var class="price h4">${{products.price}}</var> 
	{% endif %}
</div> 

<p>{{products.description}}	</p>


<hr>
	<ul>
		<li>Included all Taxes</li>
		<li><span style="color: tomato;">Free Delivery: </span>within 7 days</li>
	</ul>
	<hr>
	<table class="table table-bordered">
	<tr><th>Available offer</th></tr>
		  <tr>
			<td><span style="color: green;">Bank Offer:</span> 10% off on HDFC Bank Credit Card and Credit</td>
			
		  </tr>
		  <tr><td><span style="color: green;"> Exchange Offer:</span>  Up to ₹ 17,500.00 off on Exchange</td></tr>
		 

	
		
	</table>

	{% if products.stock < 1 %}

	<p style="color: red;">Out Of Stock</p>
    {% else %}
	{% if in_cart %}
	<a href="" class="btn btn-success" style="color:white"> <span class="text">In Cart</span> <i class="fas fa-check"></i>  </a>

	<a href="{% url 'cart' %}" class="btn btn-info" style="color:white"> <span class="text">View Cart</span> <i class="fas fa-eye"></i>  </a>
	
	
	{% else %}

	<a href="{% url 'add_cart' products.id %}" class="btn" style="background-color: #fb641b;color:white"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </a>
     {% endif %}
	 {% endif %}
</article> <!-- product-info-aside .// -->
		
	</div> <!-- row.// -->
</div> <!-- card.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->
<br>
<div class="row">
	
		<div class="col-md-5" style="margin:0px 60px;padding:5px;height: 210px; width:200px; background-color:F8F3F3;border:5px solid rgb(219, 215, 215)">
           <p style="text-align: center;"><b>Services</b></p>
		   <hr>
		   <ul>
	         <li>	   <p>One year Warrenty on Products</p></li>
			 <hr>
	         <li>	   <p>7 Days Replacement Policy</p></li>
			 <hr>
	         <li>	   <p>Cash on Delivery Available</p></li>
			 <hr>
		   </ul>
		</div>
		<div class="col-md-5" style=" margin:0 20px;padding:5px;height: 320px; width:200px; background-color:F8F3F3;border:5px solid rgb(219, 215, 215)">
			<p style="text-align: center;"><b>Product Specification</b></p>
			<hr>
			<ul>
			  <li>	   <p>Processor  :   {{products.processor}} </p></li>
			  <hr>
			  <li>	   <p>RAM     :  {{products.ram}}</p></li>
			  <hr>
			  <li>	   <p>Storage   : {{products.storage}} GB</p></li>
			  <hr>
			  <li>	   <p>Color   : {{products.color}} </p></li>
			  <hr>
			  <li>	   <p>Battery Backup  : Upto 7 hours </p></li>
			  <hr>
			  
			</ul>
		 </div>
		</div>

	<hr>
<div class="row">
	<div class="col-md-9">

<form action="{% url 'submit_review' products.id %}" method="POST">

	{% csrf_token %}
	<h5>Write Your Review</h5>
	<div>
		<div class="rate">
			<input type="radio" name="rating" id="rating5" value="5" required><label for="rating5" title="5"></label>
			<input type="radio" name="rating" id="rating4" value="4" required><label for="rating4" title="4"></label>
			<input type="radio" name="rating" id="rating3" value="3" required><label for="rating3" title="3"></label>
			<input type="radio" name="rating" id="rating2" value="2" required><label for="rating2" title="2"></label>
			<input type="radio" name="rating" id="rating1" value="1" required><label for="rating1" title="1"></label>

		</div>
		Review Title
		<input type="text"  class="form-control" name="subject"><br>
		Review
		<textarea name="review" id=""  rows="4" class="form-control"></textarea>
		<br>
		{% if user.is_authenticated %}
		{% if orderproduct %}
		<input type="submit" value="Submit Review" class="btn btn-info">
		{% else %}
		<p style="color: red;">You Must Purchase the product to post the review</p>
		{% endif %}
		
		{% else %}
		<p style="color: red;">You Must logged in to post a review <a href="{% url 'login' %}">Login Now</a></p>
		{% endif %}
	</div>

</form>
<br>
{% if messages %}
{% for message in messages %}
	{% if message.tags == "success" %}
		<div class= "alert alert-success">{{ message }}</div>
	{% elif message.tags == "error" %}
		<div class= "alert alert-danger">{{ message }}</div>
	{% endif %}
	{% endfor %}
	{% endif %}

		
<header class="section-heading">
	<h3>Customer Reviews </h3>  
	<p>{{count}} Reviews</p>
	
	</header>

	{% for review in review %}

<article class="box mb-3">
<div class="icontext w-100">

	
	<div class="text">
		<span class="date text-muted float-md-right">{{review.updated_at}}</span>  
		<h6 class="mb-1">{{review.user}} </h6>
		<div class="present-rating">
			<span class="span-rate"> 
			
           {% if review.rating == 5 %}
			<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
			{% elif review.rating == 4 %}
			<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
			{% elif review.rating == 3 %}
			<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
			{% elif review.rating == 2 %}
			<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
			{% else %}
			<i class="fas fa-star"></i>
			{% endif %}
		</span>
	   </div>
	</div>
</div> <!-- icontext.// -->
<div class="mt-3">
	<h6>{{review.subject}}</h6>
	<p>
		{{review.review}}
	</p>	
</div>
</article>
{% endfor %}



</div> <!-- col.// -->
</div> <!-- row.// -->
		
	
		
	
		
		

	
</div>

{% endblock %}
