
{% extends 'admin/index.html' %}


    {% block content %}
    <div class="col-xs-4" style="margin-left: 400px;">
        <h1>Add Category</h1>
        <hr>
    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label for="exampleInputEmail1">Category</label>
            <input type="text" name="category" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter category">
            
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Slug</label>
            <input type="text" name="slug" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Slug">
            
          </div>
       
        
        <input type="submit" class="btn btn-sm " style="background-color: brown; color:white">

    </form>
</div>

    {% endblock %}
    
