{% extends 'admin/index.html' %}



{% load crispy_forms_tags %}

{% block content %}
    <div style="margin-left: 300px;">
        <h1>Add Products</h1>
        <hr>

    <form method="POST" enctype="multipart/form-data" id="productForm" data-brand-url="{% url 'ajax_load_brands' %}">
        {% csrf_token %}
        {{ form|crispy }}
            <canvas id="canvas"></canvas>
       Image 1: <img id="image1" src="#" alt="image1" width="100px" height="100px" />
       Image 2: <img id="image2" src="#" alt="image1" width="100px" height="100px" />
       Image 3: <img id="image3" src="#" alt="image1" width="100px" height="100px" />
       Image 4: <img id="image4" src="#" alt="image1" width="100px" height="100px" />
        <input type="submit" value="Submit">
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          
          reader.onload = function(e) {
            $('#image1').attr('src', e.target.result);
          }
          
          reader.readAsDataURL(input.files[0]); // convert to base64 string
          
        }
      }
      
      $("#id_image1").change(function() {
        readURL(this);
      });

      function readURL4(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          
          reader.onload = function(e) {
            $('#image2').attr('src', e.target.result);
          }
          
          reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
      }
      
      $("#id_image2").change(function() {
        readURL4(this);
      });

      function readURL2(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          
          reader.onload = function(e) {
            $('#image3').attr('src', e.target.result);
          }
          
          reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
      }
      
      $("#id_image3").change(function() {
        readURL2(this);
      });

      function readURL3(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          
          reader.onload = function(e) {
            $('#image4').attr('src', e.target.result);
            var $image = $('#image4');

            
          }
          
          reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
      }
      
      $("#id_image4").change(function() {
        readURL3(this);
      });
</script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_category").change(function () {
        const url = $("#productForm").attr("data-brand-url");  // get the url of the `load_cities` view
        const categoryId = $(this).val();  // get the selected country ID from the HTML input
        console.log(categoryId)

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'category_id': categoryId      // add the country id to the GET parameters
            },
            
            success: function (data) {   // `data` is the return of the `load_cities` view function
                console.log(data)
                $("#id_brand").html(data);  // replace the contents of the city input with the data that came from the server
                /*

                let html_data = '<option value="">---------</option>';
                data.forEach(function (city) {
                    html_data += `<option value="${city.id}">${city.name}</option>`
                });
                console.log(html_data);
                $("#id_city").html(html_data);

                */
            }
        });

    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js"></script>

<script></script>

{% endblock %}

    
