
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Gretong a Ecommerce Admin Panel Category Flat Bootstrap Responsive Web Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->

{% load static %}
<link href="{% static 'admin/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="{% static 'admin/css/style.css' %}" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="{% static 'admin/css/font-awesome.css' %}" rel="stylesheet"> 
<!-- jQuery -->
<link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'/>
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!-- lined-icons -->


<link rel="stylesheet" href="{% static 'admin/css/icon-font.min.css' %}" type='text/css' />
	
	
<!-- //lined-icons -->
<script src="{% static 'admin/js/jquery-1.10.2.min.js' %}"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
   <!--pie-chart--->
<!-- <script src="{% static 'admin/js/pie-chart.js' %}" type="text/javascript"></script> -->
 
	{% block cdns %}

	{% endblock %}
	{% block styles %}
	

}
	{% endblock %}
</head> 
<body>
	
   <div class="page-container">
{% block content %}
<div class="jumbotron" style="margin-left: 220px;">
	<div class="row w-100" >
			<div class="col-md-3">
				<div class="card border-info mx-sm-1 p-3">
					<div class="card border-info shadow text-info p-3 my-card" style="position:absolute;left:40%;top:-20px;border-radius:50px"  ><span class="fa fa-user" aria-hidden="true"></span></div>
					<div class="text-info text-center mt-3"><h4>New User</h4></div>
					<div class="text-info text-center mt-2"><h1>{{new_user}}</h1></div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card border-success mx-sm-1 p-3">
					<div class="card border-success shadow text-success p-3 my-card" style="position:absolute;left:40%;top:-20px;border-radius:50px"><span class="fa fa-eye" aria-hidden="true"></span></div>
					<div class="text-success text-center mt-3"><h4>New Order</h4></div>
					<div class="text-success text-center mt-2"><h1>{{new_order}}</h1></div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card border-danger mx-sm-1 p-3">
					<div class="card border-danger shadow text-danger p-3 my-card" style="position:absolute;left:40%;top:-20px;border-radius:50px" ><span class="fa fa-heart" aria-hidden="true"></span></div>
					<div class="text-danger text-center mt-3"><h4>Sales</h4></div>
					<div class="text-danger text-center mt-2"><h1>{{sales}}</h1></div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card border-warning mx-sm-1 p-3">
					<div class="card border-warning shadow text-warning p-3 my-card" style="position:absolute;left:40%;top:-20px;border-radius:50px" ><span class="fa fa-inbox" aria-hidden="true"></span></div>
					<div class="text-warning text-center mt-3"><h4>Revenue</h4></div>
					<div class="text-warning text-center mt-2" style=""><h1>{{revenue}}</h1></div>
				</div>
			</div>
		 </div>
	</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<div class="container">
	<h1 style="margin-left: 500px;">Order Status</h1>
	<div class="row"style="margin-left: 500px;width:1000px; height:800px">
		<canvas id="myChart" style="margin-left: 150px;"></canvas>	
		<!-- <canvas id="myline" style="margin-left: 150px;"></canvas>	 -->

	</div>
	<h1 style="margin-left: 500px;">Daily Status</h1>
	<div class="row"style="margin-left: 500px;width:1000px; height:800px">
		
		<canvas id="myline" style="margin-left: 150px;"></canvas>	

	</div>
</div>


		


<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Pending', 'Accepted', 'Cancelled', 'Delivered','user_cancelled'],
        datasets: [{
            label: '# of order',
            data: [{{pend}},{{accept}},{{cancel}},{{delivered}},{{user_cancelled}}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                
               
                'rgba(100, 129, 64, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(132, 66, 72, 1)',
            
                'rgba(255, 159, 64, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});


var ctx = document.getElementById('myline').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['day1','day2','day3','day4','day5','day6','day7'],
        datasets: [{
            label: '# of order',
            data: [{{day1}},{{day2}},{{day3}},{{day4}},{{day5}},{{day6}},{{day7}}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                
               
                'rgba(100, 129, 64, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(132, 66, 72, 1)',
            
                'rgba(255, 159, 64, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

	
	</script>




 
{% endblock %}
				<!--//content-inner-->
			<!--/sidebar-menu-->
				<div class="sidebar-menu">
					<header class="logo1">
						<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> 
					</header>
						<div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
                           <div class="menu">
									<ul id="menu" >
										<li><a href="{% url 'admin_home' %}"><i class="fa fa-tachometer"></i> <span>Dashboard</span></a></li>
										 <li id="menu-academico" ><a href="#"><i class="fa fa-table"></i> <span>Product Management</span> <span class="fa fa-angle-right" style="float: right"></span></a>
										   <ul id="menu-academico-sub" >
										   <li id="menu-academico-avaliacoes" ><a href="{% url 'add_products' %}">Add Products</a></li>
											<li id="menu-academico-avaliacoes" ><a href="{% url 'view_products' %}">View Products</a></li>
											<li id="menu-academico-boletim" ><a href="sunglasses.html">Out of Stock</a></li>
										  </ul>
										</li>
										 <li id="menu-academico" ><a href="{% url 'user_management' %}"><i class="fa fa-file-text-o"></i> <span>User Management</span></a></li>
									<!-- <li><a href="sweater.html"><i class="lnr lnr-pencil"></i> <span>Sweater</span></a></li>
									<li id="menu-academico" ><a href="catalog.html"><i class="fa fa-file-text-o"></i> <span>Catalog</span></a></li>
									<li id="menu-academico" ><a href="shoes.html"><i class="lnr lnr-book"></i> <span>Shoes</span></a></li>
									 <li><a href="bags.html"><i class="lnr lnr-envelope"></i> <span>Bags</span></a></li>
									<li><a href="products.html"><i class="lnr lnr-chart-bars"></i> <span>Watches</span></a></li> -->
							        <li id="menu-academico" ><a href="#"><i class="lnr lnr-layers"></i> <span>Category Management</span> <span class="fa fa-angle-right" style="float: right"></span></a>
										 <ul id="menu-academico-sub" >
											<li id="menu-academico-avaliacoes" ><a href="{% url 'view_category' %}">View Category</a></li>
											<li id="menu-academico-avaliacoes" ><a href="{% url 'add_category' %}">Add Category</a></li>
											<li id="menu-academico-boletim" ><a href="{% url 'add_brand' %}">Add Brand</a></li>

										  </ul>
									 </li>
									<li><a href="#"><i class="lnr lnr-chart-bars"></i> <span>Order Management</span> <span class="fa fa-angle-right" style="float: right"></span></a>
									  <ul>
										<li><a href="{% url 'view_order' %}">View Orders</a></li>
										<li><a href="#">Order Details</a></li>
									</ul>
									</li>
									<li><a href="{% url 'monthly_report' %}"><i class="lnr lnr-chart-bars"></i> <span>Sales Report</span> <span class="fa fa-angle-right" style="float: right"></span></a>
									</li>
										<li id="menu-academico" ><a href="#"><i class="lnr lnr-layers"></i> <span>Offer Management</span> <span class="fa fa-angle-right" style="float: right"></span></a>
											<ul id="menu-academico-sub" >
											   <li id="menu-academico-avaliacoes" ><a href="{% url 'add_offer' %}">Add Offer</a></li>
											   <li id="menu-academico-avaliacoes" ><a href="{% url 'view_offer' %}">View Offer</a></li>
											 
   
											 </ul>
										</li>
										<li><a href="{% url 'view_review' %}"><i class="lnr lnr-chart-bars"></i> <span>Reviews and Ratings</span> <span class="fa fa-angle-right" style="float: right"></span></a>
										</li>
										<li><a href="{% url 'add_coupen' %}"><i class="lnr lnr-chart-bars"></i> <span>Add Coupen</span> <span class="fa fa-angle-right" style="float: right"></span></a>
										</li>

									
									
									<li><a href="{% url 'admin_logout' %}"><i class="lnr lnr-chart-bars"></i> <span>Logout</span></a></li> 
								  </ul>
								</div>
							  </div>
							  <div class="clearfix"></div>		
							</div>
						

	</script>
<!-- /real-time -->
<!-- <script src="{% static 'admin/js/jquery.fn.gantt.js' %}"></script>
    <script>

		$(function() {

			"use strict";

			$(".gantt").gantt({
				source: [{
					name: "Sprint 0",
					desc: "Analysis",
					values: [{
						from: "/Date(1320192000000)/",
						to: "/Date(1322401600000)/",
						label: "Requirement Gathering", 
						customClass: "ganttRed"
					}]
				},{
					name: " ",
					desc: "Scoping",
					values: [{
						from: "/Date(1322611200000)/",
						to: "/Date(1323302400000)/",
						label: "Scoping", 
						customClass: "ganttRed"
					}]
				},{
					name: "Sprint 1",
					desc: "Development",
					values: [{
						from: "/Date(1323802400000)/",
						to: "/Date(1325685200000)/",
						label: "Development", 
						customClass: "ganttGreen"
					}]
				},{
					name: " ",
					desc: "Showcasing",
					values: [{
						from: "/Date(1325685200000)/",
						to: "/Date(1325695200000)/",
						label: "Showcasing", 
						customClass: "ganttBlue"
					}]
				},{
					name: "Sprint 2",
					desc: "Development",
					values: [{
						from: "/Date(1326785200000)/",
						to: "/Date(1325785200000)/",
						label: "Development", 
						customClass: "ganttGreen"
					}]
				},{
					name: " ",
					desc: "Showcasing",
					values: [{
						from: "/Date(1328785200000)/",
						to: "/Date(1328905200000)/",
						label: "Showcasing", 
						customClass: "ganttBlue"
					}]
				},{
					name: "Release Stage",
					desc: "Training",
					values: [{
						from: "/Date(1330011200000)/",
						to: "/Date(1336611200000)/",
						label: "Training", 
						customClass: "ganttOrange"
					}]
				},{
					name: " ",
					desc: "Deployment",
					values: [{
						from: "/Date(1336611200000)/",
						to: "/Date(1338711200000)/",
						label: "Deployment", 
						customClass: "ganttOrange"
					}]
				},{
					name: " ",
					desc: "Warranty Period",
					values: [{
						from: "/Date(1336611200000)/",
						to: "/Date(1349711200000)/",
						label: "Warranty Period", 
						customClass: "ganttOrange"
					}]
				}],
				navigate: "scroll",
				scale: "weeks",
				maxScale: "months",
				minScale: "days",
				itemsPerPage: 10,
				onItemClick: function(data) {
					alert("Item clicked - show some details");
				},
				onAddClick: function(dt, rowId) {
					alert("Empty space clicked - add an item!");
				},
				onRender: function() {
					if (window.console && typeof console.log === "function") {
						console.log("chart rendered");
					}
				}
			});

			$(".gantt").popover({
				selector: ".bar",
				title: "I'm a popover",
				content: "And I'm the content of said popover.",
				trigger: "hover"
			});

			

		});

    </script>
		   <script src="{% static 'admin/js/menu_jquery.js' %}"></script> -->
</body>
</html>